@charset "utf-8";
/* CSS Document */
/* CSS For The HTML Page "TheCCS.html"*/

body {
  background-color:rgba(56,56,56,1.00);
  font-family:Arial;
}
textarea {
  resize:none;
  background-color: rgba(42,42,42,1.00);
  color: white;
}
.buttonDisplay {
  border: solid 3px #000;
  background-color: #000;
  color: white;
  font-size: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.buttonDisplay:active {
  background-color:  rgba(57,159,194,1.00);
  color: black;
}
.main {
  margin-left:250px; 
  font-size:20px; 
  padding:0px 10px 0px 10px;
  background-color:rgba(56,56,56,1.00);
}
.container {
    display: flex;
    border: 5px solid #000;
    overflow: hidden;
	height: 1000px;
	color: white;
}
svg:active {
	color:rgb(100, 255, 50);
}
.containerTextarea {
    border: none;
    outline: none;
    padding:6px 30px 6px 6px;
    width: 100%;
}
.containerLines {
    border-right: 3px solid  rgba(57,159,194,1.00);
    padding: 0.9rem;
    text-align: right;
    overflow: hidden;
	background-color: black;
}	
iframe {
	background-color: white;
}
.containerLines2 {   
    padding: 0.2rem;
    text-align: right;
    overflow: hidden;
	background-color: black;
}	
.gridItem {
  border: 1px solid black;
  text-align: center;
  padding: 0px 5px;
  width: 132px;
  display:inline-block;
  margin: 0px;
  height:25px;
}
.gridItem p{
margin: 0px;
padding: 0px;
	
}
.flexIt {
  justify-content: center;
  align-items: center;
}
.output {
  margin-top: 20px;
  width: auto;
  min-height: 300px;
  border: dashed 2px black;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  background-color: white;
}
.sidenav {
    width: 250px;
    background: #333;
    color: white;
    position: fixed;
    height: 100%;
	padding-top: 20px;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
	z-index:1;
  	top:0;
  	left:0;
}
.sidenav a, .dropdown-btn {
    padding: 10px 0px 0px 0px;
    text-decoration: none; 
    color: white;
	background: #444;
    display: block;
    transition: 0.3s;
    font-size: 18px;
    border-bottom: 1px solid #444;
	width: 100%;
  	height: auto;
}
.sidenav a:hover, .dropdown-btn:hover {
    background: #575757;
}
.active {
  border-left:3px solid rgba(57,159,194,1.00);
}
#activeAlt{
  border-left:3px solid rgba(57,159,194,1.00);
}
.dropdown-container {
  display:none;
  background-color:#262626;
  padding-left:0px;
}
.fa-caret-down {
  float:right;
  padding-right:8px;
}
nav.backNextHtml {
    background: linear-gradient(90deg, blue, lightblue);
    padding:20px 1px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	margin-left: 250px;	
	margin-right: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
}
.inputIMG {
	border-top: 2px solid white; 
	color: white;
	padding-top: 20px;
}
.backColorOfFiles {
	background-color: rgba(4,4,4,1.00);
	padding: 0px 0px 8px 0px;
	display: inline-block;
	height: 500px;
	width: 400px;
	min-width: 400px;
	margin: 1px;
}
.backColorOfFilesOver {
	color:white; 
	font-size: 12px; 
	background-color: rgba(16,14,14,1.00); 
	height: auto;
	padding: 10px; 
	display: flex;
	justify-content: center;
    align-items: center;
	overflow-x: scroll;
}
.codePlaces {
background: #f4f4f4; 
color:black; 
padding: 5px; 
display:none;
}
.disOff {
display:none;
}
summary {
  list-style: none;
  align-items: center;
  padding: 10px;
  font-weight: bold;
}

summary::after {
  content: '';
  width: 18px;
  height: 10px;
  margin-left: .75em;
  transition: 0.2s;
}
summary::-webkit-details-marker {
  display: none;
}

summary {
  background-color: white;
  display: inline-flex;
  color: #30353b;
  border-radius: 5px;
  width: 428px
}

details[open] summary {
border-radius: 5px 0px 0px 0px;
}

details {
  background: linear-gradient(90deg, blue, lightblue);
  border-radius: 5px;
}
.borderInBorder {
color: white; 
background: #2c2330;
margin: 10px; 
padding: 10px 0px;
border-radius: 5px 5px 0px 0px;
}
.giveMeSpace {
margin-left: 975px;	
}
@media screen and (max-width : 1162px ){
.sidenav {
  height:inherit;
  width:inherit;
  position:inherit;
  z-index:inherit;
  top:inherit;
  left:inherit;
  overflow-x:inherit;
  padding-top:15px;
}
.main {
  margin-left:0px;  
}
nav.backNextHtml {
margin-left: 8px;	
}
.fa-caret-down {
  float:right;
  padding-right:8px;
}
.header1Stl {  
  margin-left: 0px;
}	
.giveMeSpace {
margin-left: 2790px;	
}
}
